<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |product_id, order_item| %>
    <%= render 'carts/cart_row', product: @products.find(product_id), quantity: order_item['quantity'], show_total: true %>
  <% end %>
<% end %>
<h2>Checkout</h2>
<%= form_tag("order/create", remote: true) do %>
  <%= label_tag "Name" %>
  <%= text_field_tag "name", nil, placeholder: 'Enter your name', required: true%><br/>

  <%= label_tag "Address" %>
  <%= text_field_tag "address", nil, placeholder: 'Enter your address',required: true %><br/>

  <%= submit_tag "Submit Order", class: "btn btn-primary" %>
<% end %>